<section class="container">

<h1 class="tk-brandon-grotesque">Dashboard</h1>

<div class="col-sm-3 col-md-3 clearfix">
  <div class="user-wrap clearfix">
    <div class="user-box">
      <%= cl_image_tag("user_"+@current_user.id.to_s, :width => 250, :height => 250, :crop => :fill, :version=>@current_user.updated_at.to_i) %>
    </div>
  </div>


  <div class="bio">
    <p class="subhead tk-bello-pro">Bio:</p>


    <!-- server upload -->
    <%= form_for @user do |f| %>
      <%= f.file_field :image %>
      <%= f.text_area :bio %>
      <%= f.submit %>
    <% end %>

     <!-- for direct upload  -->

  </div>
</div>

<div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
  <p class="subhead tk-bello-pro">Events:</p>

</div>













</section>
