<section class="container">

<h1 class="tk-brandon-grotesque">Dashboard</h1>

<div class="col-sm-3 col-md-3 clearfix">
  <div class="user-wrap clearfix">

    <div class="user-box">
      <% if @user.profile_img != nil  %>
      <%= cl_image_tag("user_"+@current_user.id.to_s, :width => 250, :height => 250, :crop => :fill, :version=>@current_user.updated_at.to_i) %>
      <% else %>
      <%= image_tag('che3.png', id: "default-pic" ) %>
      <% end %>

    </div>
    <h2 class="tk-brandon-grotesque"><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>


  <div class="bio clearfix">
  <%= link_to 'Edit Profile', '#', class: "toggle_edit btn btn-info" %>
    <p class="subhead tk-bello-pro">Bio:</p>
    <p><%= @current_user.bio %></p>
    <p class="subhead tk-bello-pro">Flake Score:</p>
    <h1><%= @score %></h1>

  </div>

  <div class="form hide">
    <!-- server upload -->
    <%= bootstrap_form_for @user do |f| %>
      <%= f.file_field :image, hide_label: :true, class: "" %>
      <%= f.text_area :bio, hide_label: :true %>
      <%= f.submit 'Update'%>
    <% end %>

     <!-- for direct upload  -->
  </div>


</div>




<div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
  <% if @user.activities.any?  %>
    <p class="subhead tk-bello-pro">Waiting to go:</p>
    <ul class="act_list clearfix">
    <% @user.activities.each do |act| %>

      <li><%= act.name %> <%= link_to 'x', '/delete_activity', {title: "delete", class: ""} %> </li>
    <% end %>
    </ul>
  <% end %>


  <p class="subhead tk-bello-pro">Events:</p>

</div>


</section>
