<section class="container">

<h1 class="tk-brandon-grotesque"><%= @activity %></h1>

<div class="col-sm-3 col-md-3 clearfix">
  <div class="act-wrap clearfix">
    <div class="act-box">
      <% image = '1'.to_s + '.svg' %>
      <%= image_tag image, class: "act-inner" %>
    </div>
  </div>


  <div class="venue">
    <p class="subhead tk-bello-pro">Venue:</p>
        <%= @venue_name %>
  </div>
</div>

<div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
  <p class="subhead tk-bello-pro">With who:</p>
  <div class="user-wrapper">
    <ul>
        <% 4.times do |user| %>
        <li>
          <% if !@user.profile_img == nil  %>
            <%= cl_image_tag("user_2", :width => 100, :height => 100, :crop => :fill, :version=>@current_user.updated_at.to_i) %>
          <% else %>
            <%= image_tag('che3.png', id: "default-pic" ) %>
          <% end %>
          <%= link_to '<h3>First_name Last_name</h3>'.html_safe, user_path(), class: "user-name" %>
          <%= link_to 'Flaked?', flake_path, class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

</section>
