<section class="container">

<h1 class="tk-brandon-grotesque">About</h1>

Adrienne Kerr
<li><%= link_to 'Linkedin', 'https://www.linkedin.com/in/kerraj' %></li>

Alexander Monsanto
<li><%= link_to 'Linkedin', 'https://www.linkedin.com/in/alexandermonsanto'%></li>

Alyssa Williams
<li><%= link_to 'Linkedin', 'https://www.linkedin.com/in/ajwilliams12' %></li>

Patrick Moore
<li><%= link_to 'Linkedin', 'https://www.linkedin.com/in/patrickemoore' %></li>

</section>

<%= render 'site/signupmodal'%>

<%= render 'site/loginmodal'%>
