<section class="container">

<h1 class="tk-brandon-grotesque">About</h1>

<li><%= image_tag() %><%= link_to 'Adrienne Kerr', 'https://www.linkedin.com/in/kerraj', {class: 'dev-name', target: '_blank'} %></li>


<li><%= image_tag() %><%= link_to 'Alexander Monsanto', 'https://www.linkedin.com/in/alexandermonsanto', {class: 'dev-name', target: '_blank'} %></li>


<li><%= image_tag() %><%= link_to 'Alyssa Williams', 'https://www.linkedin.com/in/ajwilliams12', {class: 'dev-name', target: '_blank'} %></li>


<li><%= image_tag() %><%= link_to 'Patrick Moore', 'https://www.linkedin.com/in/patrickemoore', {class: 'dev-name', target: '_blank'} %></li>

</section>

<%= render 'site/signupmodal'%>

<%= render 'site/loginmodal'%>
