<section class="container">

<h1 class="tk-brandon-grotesque">About</h1>
<div class="col-md-3">
  <div>
    <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/0ac/194/3ffbf5c.jpg', class: 'pic') %>
  </div>
  <h2>
    <%= link_to 'Adrienne Kerr', 'https://www.linkedin.com/in/kerraj', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Adrienne was born a natural coder. At the age of 5 she was capable of solving dificult math problems and could read and write at a collegiate level.</p>
</div>

<div class="col-md-3">
  <div>
    <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/03c/37a/0fc43c9.jpg', class: 'pic') %>
  </div>
  <h2>
    <%= link_to 'Alexander Monsanto', 'https://www.linkedin.com/in/alexandermonsanto', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Monsanto was born a natural coder. At the age of 5 she was capable of solving dificult math problems and could read and write at a collegiate level.</p>
</div>

<div class="col-md-3">
  <div>
  <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/095/142/018aa28.jpg', class: 'pic') %>
  </div>
  <h2>
  <%= link_to 'Alyssa Williams', 'https://www.linkedin.com/in/ajwilliams12', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Alyssa was born a natural coder. At the age of 5 she was capable of solving dificult math problems and could read and write at a collegiate level.</p>
</div>

<div class="col-md-3">
  <div>
    <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_240_240/p/7/005/058/34e/1f9d8c8.jpg', class: 'pic') %>
  </div>
  <h2>
  <%= link_to 'Patrick Moore', 'https://www.linkedin.com/in/patrickemoore', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Patrick was born a natural coder. At the age of 5 she was capable of solving dificult math problems and could read and write at a collegiate level.</p>
</div>

</section>

<%= render 'site/signupmodal'%>

<%= render 'site/loginmodal'%>
