<section class="container">

<h1 class="tk-brandon-grotesque">About</h1>
<div class="col-md-3">
  <div>
    <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/0ac/194/3ffbf5c.jpg', class: 'pic') %>
  </div>
  <h2>
    <%= link_to 'Adrienne Kerr', 'https://www.linkedin.com/in/kerraj', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>After graduating with a degree in Creative Advertising from Virginia Commonwealth University, Adrienne moved out to Seattle, WA to pursue music and tech. When she's not attending hackathons or teaching other women how to code, she's playing saxophone with various indie rock outfits around town.</p>
</div>

<div class="col-md-3">
  <div>
    <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/03c/37a/0fc43c9.jpg', class: 'pic') %>
  </div>
  <h2>
    <%= link_to 'Alexander Monsanto', 'https://www.linkedin.com/in/alexandermonsanto', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Monsanto comes from a tech and finance background. His previous ventures include Yelp, Nintendo and helping startups including Touch of Modern, AllTrails and Gympact through the services of Advisor in San Francisco. He now resides in Seattle where he works on building amazing apps such as Listo.</p>
</div>

<div class="col-md-3">
  <div>
  <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/095/142/018aa28.jpg', class: 'pic') %>
  </div>
  <h2>
  <%= link_to 'Alyssa Williams', 'https://www.linkedin.com/in/ajwilliams12', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Alyssa is from Olympia, Washington. She graduated from University of Portland in 2012. She worked in healthcare after graduation. She started learning to code on her own and decided on a career change. Alyssa now lives in Seattle, WA where she is learning web development and building cool apps like Listo.</p>
</div>

<div class="col-md-3">
  <div>
    <%= image_tag('https://media.licdn.com/mpr/mpr/shrink_240_240/p/7/005/058/34e/1f9d8c8.jpg', class: 'pic') %>
  </div>
  <h2>
  <%= link_to 'Patrick Moore', 'https://www.linkedin.com/in/patrickemoore', {class: 'dev-name', target: '_blank'} %>
  </h2>
  <p>Patrick was born a natural coder. At the age of 5 he was capable of solving dificult math problems and could read and write at a collegiate level.</p>
</div>

</section>

<%= render 'site/signupmodal'%>

<%= render 'site/loginmodal'%>
