<section class="container">
  <div class="row text-center">
    <h1 class="tk-brandon-grotesque">I WANT TO GO</h1>

    <% if !@user.location %> <!-- check if @current_user.location is set -->
      <div class="col-md-4 col-md-offset-4">
        <p class="subhead tk-bello-pro">Where?</p>
        <%= bootstrap_form_for @user do |f| %>
          <%= f.select :location, [['Near By', 'foursquare-val-1'],['Neighborhood One', 'foursquare-val-2'],['Neighborhood Two', 'foursquare-val-3']], hide_label: :true %>
          <%= f.submit %>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-8 col-md-offset-2">
        <p class="subhead tk-bello-pro">Do What?</p>

        <section class="act-wrapper clearfix">
          <a href="#">
            <div class="act-box">
              <div class="act-inner"><span><%=@activities[0].name%></span></div>
            </div>
          </a>

          <a href="#">
            <div class="act-box">
              <div class="act-inner"><span><%=@activities[1].name%></span></div>
            </div>
          </a>

          <a href="#">
            <div class="act-box">
              <div class="act-inner"><span><%=@activities[2].name%></span></div>
            </div>
          </a>
        </section>

        <button class="btn">Something Else</button>

      </div>


    <% end %>

  </div>
</section>