<section class="container">
  <div class="row text-center">


    <% if !@user.location || @user.location === ' ' %>
    <!-- check if @current_user.location is set -->
    <h1 class="tk-brandon-grotesque">WHERE ARE YOU?</h1>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <p class="subhead tk-bello-pro">Choose nieghborhood:</p>
        <%= bootstrap_form_for @user do |f| %>
          <%= f.select :location, [
            ['Ballard', 'Ballard, Seattle, WA'],
            ['Belltown', 'Belltown, Seattle, WA'],
            ['Capitol Hill', 'Capitol Hill, Seattle, WA'],
            ['Central District', 'Central District, Seattle, WA'],
            ['Eastlake', 'Eastlake, Seattle, WA'],
            ['First Hill', 'First Hill, Seattle, WA'],
            ['Fremont', 'Fremont, Seattle, WA'],
            ['Green Lake', 'Green Lake, Seattle, WA'],
            ['International District', 'International District, Seattle, WA'],
            ['Pioneer Square', 'Pioneer Square, Seattle, WA'],
            ['Phinney Ridge', 'Phinney Ridge, Seattle, WA'],
            ['Queen Anne', 'Queen Anne, Seattle, WA'],
            ['Ravenna', 'Ravenna, Seattle, WA'],
            ['South Lake Union', 'South Lake Union, Seattle, WA'],
            ['South Seattle', 'South Seattle, Seattle, WA'],
            ['University District', 'University District, Seattle, WA'],
            ['Wallingford', 'Wallingford, Seattle, WA']
            ], hide_label: :true %>
          <%= f.submit 'Save'%>
        <% end %>
      </div>
    <% else %>
      <h1 class="tk-brandon-grotesque">I WANT TO GO</h1>
      <div class="col-md-8 col-md-offset-2">
        <p class="subhead tk-bello-pro">Choose Activity:</p>

        <section class="act-wrapper clearfix">
          <a href="/activities/<%=@activities[0][:id]%>" class="add_activity">
            <div class="act-box">
              <% image = @activities[0][:id].to_s + '.svg' %>
              <%= image_tag image, class: "act-inner" %>
            </div>
          </a>

          <a href="/activities/<%=@activities[1][:id]%>">
            <div class="act-box">
              <% image = @activities[1][:id].to_s + '.svg' %>
              <%= image_tag image, class: "act-inner" %>
            </div>
          </a>

          <a href="/activities/<%=@activities[2][:id]%>">
            <div class="act-box">
              <% image = @activities[2][:id].to_s + '.svg' %>
              <%= image_tag image, class: "act-inner" %>
            </div>
          </a>
        </section>

        <%= link_to 'Something Else', activities_path, class: "btn" %>

        <% location = @user.location.split(",")[0]  %>
        <p class="subhead tk-bello-pro">In: <%= link_to location, location_path(@user.id),class: "location-change", title: "Change Location" %></p>


      </div>


    <% end %>

  </div>
</section>
