<!DOCTYPE html>
<html>
<head>
  <title>Listo</title>
  <script src="//use.typekit.net/heh5evl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= iphone :icon, href: asset_path('favicon.ico', size: '60x60') %>
  <%= iphone :viewport %>
  <%= iphone :status_bar, color: 'black-translucent' %>
  <link rel="apple-touch-startup-image" href="/public/che3.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body id="<%= @page %>">

<header>
  <section class="container">
    <div class="branding">
      <a href="/"></a>

    </div>

    <nav>
      <ul>
        <% if @user.id == nil  %> <!-- check if user is logged in -->
          <li><button class="link" data-toggle="modal" data-target="#login-modal">Log In</button></li>

        <% else %>
          <li><%= link_to 'Dashboard', dashboard_path(@user.id) %></li>
          <li><%= link_to 'Activities', activities_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% end %>
      </ul>
    </nav>

  </section>
</header>



<main>
<%= yield %>
</main>

<footer>
  <section class="container">

    <div class="col-xs-6 col-md-1 col-md-offset-4">
      <h5>Company</h5>
        <ul>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3 col-md-offset-2">
      <h5>Dev Team</h5>
      <ul>
        <li><%= link_to 'Adrienne Kerr', 'https://www.linkedin.com/in/kerraj' %></li>
        <li><%= link_to 'Alexander Monsanto', 'https://www.linkedin.com/in/alexandermonsanto'%></li>
        <li><%= link_to 'Alyssa Williams', 'https://www.linkedin.com/in/ajwilliams12' %></li>
        <li><%= link_to 'Patrick Moore', 'https://www.linkedin.com/in/patrickemoore' %></li>
      </ul>
    </div>

  </section>

</footer>


<%if @user.events.last%>
  <span id="event-user" style="display: none;"><%=@user.events.last.id%></span>
<% end %>

<% if @happening %>
  <script>
    eventAlert();
  </script>
<% end %>


</body>
</html>
