<!DOCTYPE html>
<html>
<head>
  <title>Listo - <%= @page %></title>
  <script src="//use.typekit.net/heh5evl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="<%= @page %>">

<header>
  <section class="container">
    <div class="branding">
      <%= link_to 'Listo', root_path %> <!-- this will be replaced by the logo -->

    </div>

    <nav>
      <ul>
        <% if @user.id == nil  %> <!-- check if user is logged in -->
          <li><button class="link" data-toggle="modal" data-target="#login-modal">Log In</button></li>
        <% else %>
          <li><%= link_to 'Dashboard', dashboard_path(@user.id) %></li>
          <li><%= link_to 'Activities', activities_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% end %>
      </ul>
    </nav>

  </section>
</header>

<main>
<%= yield %>
</main>

<footer></footer>

</body>
</html>
